In [65]:
import pandas as pd

In [66]:
import xml.etree.ElementTree as et

In [67]:
import matplotlib.pyplot as plt

In [68]:
import os

In [69]:
def transform_xml(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.iter('vehicle'):
        dict = attr.copy()
        dict.update(xml.attrib)
        
        yield dict

In [70]:
def transform_xml_tripinfo(xml_doc):
    attr = xml_doc.attrib
    for xml in xml_doc.iter('tripinfo'):
        dict = attr.copy()
        dict.update(xml.attrib)
        
        yield dict

In [71]:
def transform_xml_stops(xml_doc):
    for route in xml_doc.iter('route'):
        route_dict = route.attrib.copy()
        stops = []
        
        # Iterate over each <stop> element within the current <route> element
        for stop in route.findall('stop'):
            stop_dict = stop.attrib.copy()
            stops.append(stop_dict)
        
        # Include stops in the route dictionary
        route_dict['stops'] = stops
        
        yield route_dict

In [72]:
base_folder = "C:\\Users\\Admin\\Sumo\\normafa_e"

In [73]:
file_path = os.path.join(base_folder, "emission.out.xml")
emission_output = et.parse(file_path)

transform = transform_xml(emission_output.getroot())
emission_output_list = list(transform)

In [74]:
file_path = os.path.join(base_folder, "tripinfo.xml")
b_tripinfo_output = et.parse(file_path)

transform = transform_xml_tripinfo(b_tripinfo_output.getroot())
b_tripinfo_output_list = list(transform)

In [75]:
file_path = os.path.join(base_folder, "gtfs_pt_vehicles.add.xml")
stops = et.parse(file_path)

transform = transform_xml_stops(stops.getroot())
stops_list = list(transform)

file_path = os.path.join(base_folder, "gtfs_pt_vehicles.add.xml")
vehicles = et.parse(file_path)

transform = transform_xml(vehicles.getroot())
vehicles_list = list(transform)

In [76]:
emission_output_df = pd.DataFrame(emission_output_list)
emission_output_df.shape

(4322, 21)

In [77]:
stops_pd = pd.DataFrame(stops_list)
#b_tripinfo_output_pd.shape
#stops_pd = stops_pd.drop(stops_pd.columns[0], axis=1)
#stops_pd

vehicles_pd = pd.DataFrame(vehicles_list)
vehicles_pd = vehicles_pd.drop(vehicles_pd.columns[0], axis=1)
vehicles_pd

               id       route  type depart        line
0      C7810510.0    C7810510   bus  21770    C7810510
1     C78105100.0    C7810510   bus  37970    C7810510
2     C78105101.0   C78105101   bus  30950   C78105101
3     C78105104.0    C7810510   bus  38510    C7810510
4     C78105105.0   C78105101   bus  31370   C78105101
...           ...         ...   ...    ...         ...
9381  C77670960.0  C776701014  tram  38630  C776701014
9382  C77670970.0  C776701006  tram  37070  C776701006
9383  C77670978.0  C776701014  tram  39530  C776701014
9384  C77670988.0  C776701006  tram  37970  C776701006
9385  C77670996.0  C776701014  tram  40430  C776701014

[9386 rows x 5 columns]

In [78]:
b_tripinfo_output_pd = pd.DataFrame(b_tripinfo_output_list)
#b_tripinfo_output_pd.shape
b_tripinfo_output_pd = b_tripinfo_output_pd.drop(b_tripinfo_output_pd.columns[0], axis=1)
b_tripinfo_output_pd

,id,depart,departLane,departPos,departSpeed,departDelay,arrival,arrivalLane,arrivalPos,arrivalSpeed,...,routeLength,waitingTime,waitingCount,stopTime,timeLoss,rerouteNo,devices,vType,speedFactor,vaporized
0,C74509135.0,24890.00,1176083116_0,12.10,0.00,0.00,26200.00,126765651#2_0,52.45,3.91,...,6896.22,199.00,14,257.00,514.57,0,tripinfo_C74509135.0 emissions_C74509135.0,bus,1.00,
1,C74509106.0,26330.00,126765648#0_0,12.10,0.00,0.00,27836.00,879958382_0,47.24,6.05,...,6841.14,204.00,12,511.00,473.77,0,tripinfo_C74509106.0 emissions_C74509106.0,bus,1.00,
2,C74509124.0,27170.00,126765648#0_0,12.10,0.00,0.00,28676.00,879958382_0,47.24,5.74,...,6841.14,235.00,13,449.00,536.21,0,tripinfo_C74509124.0 emissions_C74509124.0,bus,1.00,

In [79]:
emission_output_df = emission_output_df.drop(emission_output_df.columns[0], axis=1)
emission_output_df

,id,eclass,CO2,CO,HC,NOx,PMx,fuel,electricity,noise,route,type,waiting,lane,pos,speed,angle,x,y,z
0,C74509135.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,2775.0000,2.0790,0.1277,4.3350,1.4870,891.8000,0.0000,67.1107,C74509135,bus,0.0000,1176083116_0,12.1000,0.0000,25.1856,3718.8992,3512.8499,391.8601
1,C74509135.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,5672.2414,3.2838,0.1673,4.3399,1.4875,1822.8386,0.0000,71.0842,C74509135,bus,0.0000,1176083116_0,12.7627,0.6627,24.8761,3719.1436,3513.4650,391.8290
2,C74509135.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,1703.5301,1.3441,0.1095,4.3346,1.4870,547.4881,0.0000,64.9460,C74509135,bus,0.0000,1176083116_0,13.0206,0.2580,24.7557,3719.2388,3513.7045,391.8169
3,C74509135.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,2485.4499,1.8417,0.1222,4.3350,1.4870,798.7558,0.0000,66.4284,C74509135,bus,0.0000,1176083116_0,13.1480,0.1273,24.6962,3719.2858,3513.8227,391.8109
4,C74509135.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,2444.3251,1.8512,0.1214,4.3350,1.4870,785.5411,0.0000,66.4090,C74509135,bus,0.0000,1176083116_0,13.1498,0.0019,24.6953,3719.2864,3513.8244,391.8108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4317,C74509124.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,8216.9230,3.6362,0.1868,4.3715,1.4912,2640.6246,0.0000,72.5245,C74509106,bus,0.0000,879958382_0,27.0752,1.5648,183.2257,3733.7987,3445.4702,388.5890
4318,C74509124.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,8622.2445,3.3545,0.1864,4.4000,1.4950,2770.8946,0.0000,71.9456,C74509106,bus,0.0000,879958382_0,29.3330,2.2578,184.8047,3733.4526,3443.2401,388.5148
4319,C74509124.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,13399.7035,4.0411,0.2230,4.5470,1.5131,4306.2446,0.0000,74.4428,C74509106,bus,0.0000,879958382_0,32.6452,3.3122,188.2179,3732.7209,3440.0230,388.4242
4320,C74509124.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,11732.5800,3.3916,0.2103,4.5581,1.5172,3770.4800,0.0000,72.7978,C74509106,bus,0.0000,879958382_0,36.6506,4.0054,193.2232,3731.4362,3436.2295,388.3470
4321,C74509124.0,HBEFA4/UBus_Std_gt15-18t_Euro-VI_A-C,14976.9186,3.7239,0.2364,4.7398,1.5416,4813.1327,0.0000,74.1280,C74509106,bus,0.0000,879958382_0,41.5123,4.8617,199.9740,3729.3536,3431.8608,388.3100

In [80]:
grouped_df = emission_output_df.groupby('id')

list_of_dfs = [group_data for _, group_data in grouped_df]
#C74509106 = list_of_dfs[0]
#C74509124 = list_of_dfs[1]
#C74509135 = list_of_dfs[2]

In [81]:
def calc_elevation_up(group):
    z_diff = pd.to_numeric(group['z']).diff()

    # Filter out negative differences (upward movement)
    up = z_diff.apply(lambda x: x if x > 0 else 0)

    # Sum the positive differences to get the total upward movement
    total_up = up.sum()
    return total_up

In [82]:
def calc_elevation_down(group):
    z_diff = pd.to_numeric(group['z']).diff()

    # Filter out negative differences (upward movement)
    down = z_diff.apply(lambda x: x if x < 0 else 0)

    # Sum the positive differences to get the total upward movement
    total_down = down.sum()
    return total_down

In [90]:

results = []
for group_id, group_data in grouped_df:
    avg_speed = group_data['speed'].astype(float).mean()
    
    fuel_sum = group_data['fuel'].astype(float).sum()

    time_loss = b_tripinfo_output_pd.loc[b_tripinfo_output_pd['id'] == group_id, 'timeLoss'].values[0]
    route_length = b_tripinfo_output_pd.loc[b_tripinfo_output_pd['id'] == group_id, 'routeLength'].values[0]
    
    route = vehicles_pd.loc[vehicles_pd['id'] == group_id, 'route'].values[0]
    count_stops = stops_pd[stops_pd['id'] == route]['stops'].apply(len).sum()
    
    z_up = calc_elevation_up(group_data)
    z_down = calc_elevation_down(group_data)
    
    # Store the results in a dictionary
    group_result = {
        'id': group_id,
        'avgSpeed': avg_speed,
        'fuel': fuel_sum,
        'timeloss': time_loss,
        'routeLength': route_length,
        'numOfStops': count_stops,
        'up': z_up,
        'down': z_down
    }
    
    # Append the dictionary to the results list
    results.append(group_result)

# Convert the results list to a DataFrame
result_df = pd.DataFrame(results)
print(result_df)

            id  avgSpeed          fuel timeloss routeLength  numOfStops  \
0  C74509106.0  4.540451  4.029607e+06   473.77     6841.14          19
1  C74509124.0  4.538786  4.086386e+06   536.21     6841.14          19
2  C74509135.0  5.261245  3.802411e+06   514.57     6896.22          18

         up      down
0  317.5774  -36.8839
1  318.0474  -37.3539
2   36.8051 -321.3814

In [84]:
#avg_seed_b = C74509135['speed'].astype(float).mean()
#avg_seed_b

In [85]:
#float(C74509106['totalEnergyConsumed'].iloc[-1])-float(C74509106['totalEnergyRegenerated'].iloc[-1])
#24 2214.5173999999997  2219.5933
#06 2218.0583           2222.9716
#35 -615.606            -624.5073000000002

In [86]:
#plt.plot(C74509135['energyConsumed'].astype(float).cumsum())
#plt.xlabel('Time')
#plt.ylabel('Total Energy Regenerated')
#plt.title('Total Energy Regenerated Over Time')
#plt.xticks(rotation=45)
#plt.tight_layout()
#plt.show()

# CSV

In [97]:
tableEmission = pd.read_csv('emissionData.csv', delimiter=';')

tableEmission.shape

(0, 11)

## settings

In [98]:
locSetting = 'xd'
seedSetting = 'dd'
trafficScaleSetting = 'wh'

#routeLengthSetting = :)
#numOfStopsSetting = :)
#tripIdSetting = :)
#avgSpeedSetting = :)
#timelossSetting = :)
#eleupSetting = 
#eledownSetting = 
#emissionSetting = :)

In [99]:
for index, row in result_df.iterrows():
    row_data = {
        'loc': locSetting,
        'tripId': row['id'],
        'seed': seedSetting,
        'avgSpeed': row['avgSpeed'],
        'timeloss': row['timeloss'],
        'route_length': row['routeLength'],
        'elevation_up': row['up'],
        'elevation_down': row['down'],
        'trafficScale': trafficScaleSetting,
        'numOfStops': row['numOfStops'],
        'emission': row['fuel']
    }
    temp_df = pd.DataFrame([row_data])
    #any empty or all-NA columns in tableEmission are excluded before concatenating the DataFrames
    tableEmission = tableEmission.dropna(axis=1, how='all')

    tableEmission = pd.concat([tableEmission, temp_df], ignore_index=True)

In [100]:
tableEmission
#tableBattery.to_csv('batteryData.csv', index=False, sep=';')

,loc,tripId,seed,avgSpeed,timeloss,route_length,elevation_up,elevation_down,trafficScale,numOfStops,emission
0,xd,C74509106.0,dd,4.540451,473.77,6841.14,317.5774,-36.8839,wh,19,4.029607e+06
1,xd,C74509124.0,dd,4.538786,536.21,6841.14,318.0474,-37.3539,wh,19,4.086386e+06
2,xd,C74509135.0,dd,5.261245,514.57,6896.22,36.8051,-321.3814,wh,18,3.802411e+06